.Carousel {
}

.image-track {
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    flex-flow: row nowrap;

    scrollbar-width: none;  /* Hide scrollbar on all but safari */

    /*scroll-snap-type: x mandatory;*/
}

.image-track::-webkit-scrollbar {
    display: none;  /* Hide on safari too */
}

.image-track img {
    width: 100%;
    flex: none;
    object-fit: cover;

    /*scroll-snap-align: start;*/
    /*scroll-snap-stop: normal;*/
}
